.Button {
    height: 50px;
    border-radius: 10px;
    width: 100%;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: blue;
}

.Button.Button--disabled {
    background-color: grey;
}

.Button:not(.Button--disabled):hover {
    background-color: darkblue;
}

.Button:focus {
    outline: none;
}