.Item {
    display: flex;
    justify-content: space-between;
    height: 70px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.Item:not(:last-child) {
    margin-bottom: 20px;
}

.Item__Title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Item__Description {
    font-size: 15px;
}

.Item__Actions {
    display: flex;
    align-items: center;
}