.TextInput {
    height: 50px;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid;
}

.TextInput:focus {
    outline: none;
}