.App {
    padding: 30px;
}

.App__Header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.App__Title {
    margin-right: 10px;
    font-size: 35px;
}

.App__Subtitle {
    font-size: 20px;
}

.App__Summary {
    display: flex;
    margin-bottom: 10px;
}

.App__ItemCount {
    font-weight: bold;
    margin-right: 5px;
}

.App_List {
    margin-top: 20px;
}